.items-btn {
    border: none;
    outline: none;
    background-color: white;
    padding: 10px 20px;
}

.items-active {
    color: deeppink;
    border-bottom: 1px solid deeppink;
}

.lunch-item:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}