.menuBar {
    background-color: white;
    width: 100%;
}

.menubar-img-cintainer {
    width: 150px;
}

.signout-btn {
    background-color: #f91944;
    color: white;
    text-decoration: none;
}

.signout-btn:hover {
    color: black;
    border: 1px solid #f91944;
}